.doit {
    display: flex;
    &__text-wrapper {
        white-space: nowrap;
        text-overflow: clip;
        margin: 75px auto 60px;
        max-width: 2160px;
        width: 100%;
        text-align: end;
        font-family: @fontMak;
        font-size: 128px;
        font-style: normal;
        font-weight: 700;
        line-height: 153.6px;
    }

    &__line1 {
        position: relative;
        margin: 0;
        left: -52px;
    }

    &__line2 {
        position: relative;
        margin: 0;
        right: -190px;
    }
}