.page-footer {
    box-sizing: border-box;
    padding: 0 0 75px;

    &__container {
        .container;
    }

    &__border {
        display: flex;
        margin-bottom: 60px;
        &::before,
        &::after {
            content: '';
            flex-grow: 1;
            height: 2px;
            width: 2px;
        }

        &::before {
            margin-right: 50px;
            background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 82.86%);
        }

        &::after {
            margin-left: 50px;
            background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 100%);
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        margin-right: 30px;
        position: relative;
        padding-left: 26px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: @red;
        }
    }

    &__nav-link,
    &__link-politics,
    &__link-cookies {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        transition: color 0.2s;
        &:hover {
            @media (hover:hover ) {
                color: @red;
            }
        }

        &:active {
            color: @red;
        }
    }

    &__nav-link {
        display: block;
        color: @black;
    }

    &__information-wrapper {
        display: flex;
        margin-top: 60px;
    }

    &__documents {
        display: flex;
        flex-direction: column;
    }

    &__documents-label,
    &__company-text {
        font-family: @fontSans;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        color: @black;
    }

    &__documents-label {
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__documents-links {
        display: inline-flex;
        align-items: flex-end;
        gap: 60px;
    }

    &__link-politics,
    &__link-cookies {
        color: #111111;
        line-height: normal;
    }

    &__networks {
        display: inline-flex;
        gap: 45px;
        margin: 0 305px 0 203px;
    }

    &__networks-link {
        display: inline-flex;
        align-items: flex-end;
        transition: color 0.2s;
        &:hover {
            @media (hover:hover ) {
                color: @red;
            }
        }

        &:active {
            color: @red;
        }
    }

    &__company {
        display: inline-flex;
        align-items: flex-end;
        gap: 15px;
    }

    &__company-text {
        font-weight: 600;
    }
}